.okmr-kpi-element li{
    display:inline;
}

.okmr-kpi-element .okrm-action-btns{
    float:right;
}

.okmr-clear-fix{
    float:none;
}

.okmr-edit-btn{
    color:orange;
}

.okmr-delete-btn{
    color:red;
}

.okmr-hide{
    display:none;
}

#okmr-add-new-kpi{
    color:#000;
    outline: none;
}

#okmr-add-new-wrap{
    margin-top: 20px;
}

.okmr-closer{
    color: red;
}